<!-- ICONS: Default and OperationHours -->
<div class="features_block clearfix">
    <!--  ng-controller="placesController as main" -->
    <div>
        <ul>
            <li><b><i class="fa fa-wifi"></i>Wifi:</b> Free<br></li>
            <li><b><i class="fa fa-music"></i>Music style:</b> Jazz<br></li>
            <li><b><i class="fa fa-automobile"></i> Parking:</b> Yes<br></li>
            <li><b><i class="fa fa-user-plus"></i>Minimum age:</b> 28+<br></li>
            <li><b><i class="fa fa-beer"></i>1 beer:</b> ~2$<br></li>
            <li><b><i class="fa fa-credit-card"></i> Credit cards:</b> Yes<br></li>
            <li><b><i class="fa fa-rocket"></i> Work hours: </b><span>{{main.place.operatingHours}}</span><br></li>
            <li><b><i class="fa fa-compress"></i>Reservations:</b> Yes<br></li>

        </ul>
    </div>
</div>
